{% load i18n zeus_tags pagination_tags %}
<div class="forum-post {% if post.deleted %}deleted{% endif %} {{ loopcls }}" id="{{ post.id }}">
  {% if not post.deleted %}
  <div class="top clearfix">
      <span class="user">{{ post.user.forum_display }}</span><span class="date">{% blocktrans with date=post.post_date %}at {{date}}{% endblocktrans %}</span>
      <a class="perma" href="#{{post.id}}"><i class="general foundicon-paper-clip"></i></a>
  </div>
    <div class="post-actions clearfix">
      {% if user.is_admin or post.voter == voter %}
          {% if poll.feature_forum_can_post and post.can_delete %}
          <div class="action delete">
            <form method="post"
                  action="{% url "election_poll_forum_post_delete" election.uuid poll.uuid %}">
            <input type="hidden" name="post" value="{{ post.id }}" />
            {% csrf_token %}
            <button class="button tiny alert" type="submit"><i class="general foundicon-trash"></i> {% trans "delete" %}</button>
            </form>
          </div>
          {% endif %}
      {% endif %}
      {% if voter and poll.feature_forum_can_post and post.can_edit and post.voter == voter %}
          <div class="action reply">
            <a class="button tiny" href="{% url "election_poll_forum" election.uuid poll.uuid %}?edit={{ post.id }}#post"><i class="general foundicon-edit"></i> {% trans "edit" %}</a>
          </div>
      {% endif %}
      {% if voter and poll.feature_forum_can_post and post.level <= max_level %}
          <div class="action reply">
            <a class="button tiny" href="{% url "election_poll_forum" election.uuid poll.uuid %}?reply=1&post_id={{ post.id }}#post"><i class="general foundicon-refresh"></i> {% trans "reply" %}</a>
          </div>
      {% endif %}
      {% if not post_id %}
        <div class="action post-replies">
            <a class="button tiny" href="{% url "election_poll_forum" election.uuid poll.uuid %}?&post_id={{ post.id }}#replies-{{ post.id }}"><i class="general foundicon-people"></i> {% trans "replies" %} ({{ post.has_active_children }})</a>
        </div>
      {% endif %}
    </div>
    <div class="body">
        {{ post.body|markdown_to_html|safe }}
    </div>
    {% if expand or parent and not edit %}
    <div class="replies" id="replies-{{ parent.id }}">
      {% post_replies post %}
      {% if paginate_replies %}
          {% autopaginate replies paginate_by %}
          {% paginate hashtag="#replies-"|add:post_id %}
      {% endif %}
      {% with parent=None %}
        {% for post in replies %}
          {% cycle '' 'even' as loopcls silent %}
          {% include "_election_forum_post.html" %}
        {% endfor %}
      {% endwith %}
    </div>
    {% endif %}
  {% else %}
    <div class="body">
        {% blocktrans with author=post.deleted_by date=post.deleted_at %}Message deleted by {{author}} at {{date}}{% endblocktrans %}
    </div>
  {% endif %}
</div>
