{% load i18n zeus_tags pagination_tags %}
<div class="forum-post {% if post.deleted %}deleted{% endif %} {{ loopcls }}" id="{{ post.id }}">
  {% if not post.deleted %}
  <div class="top clearfix">
      <span class="user">{{ post.user.forum_display }}</span><span class="date">{% blocktrans with date=post.post_date %}at {{date}}{% endblocktrans %}</span>
      <a class="perma" href="#{{post.id}}">#{{ post.post_id }}</a>
  </div>
    <div class="body">
        {{ post.body|markdown_to_html|safe }}
    </div>
    {% include "_election_forum_post_actions.html" %}
    {% if expand or parent and not edit %}
    <div class="replies" id="replies-{{ parent.id }}">
      {% post_replies post %}
      {% if paginate_replies %}
          {% autopaginate replies paginate_by %}
          {% paginate hashtag="#replies-"|add:post_id %}
      {% endif %}
      {% with parent=None %}
        {% for post in replies %}
          {% cycle '' 'even' as loopcls silent %}
          {% include "_election_forum_post.html" %}
        {% endfor %}
      {% endwith %}
      {% if paginate_replies %}
          {% paginate hashtag="#replies-"|add:post_id %}
      {% endif %}
    </div>
    {% endif %}
  {% else %}
    <div class="body">
        {% blocktrans with author=post.deleted_by date=post.deleted_at %}Message deleted by {{author}} at {{date}}{% endblocktrans %}
    </div>
  {% endif %}
</div>
