{% load i18n %}
{% if voter.voter_weight and voter.voter_weight > 1 %}
<div class="panel voter-weight">
  {% trans "Your vote weight is set to " %} <b>{{ voter.voter_weight}}</b>
</div>
{% endif %}

{% if poll.forum_enabled and poll.feature_forum_open %}
{% if poll.feature_forum_open %}
<div id="booth-link" class="button split dropdown" style="margin-bottom: 5px; margin-top: 0">
  <a href="{% url "election_poll_forum" election.uuid poll.uuid %}">{% trans "Participate in forum" %}</a>
</div>
{% endif %}
{% endif %}

{% if poll.feature_can_cast_vote %}
<div id="booth-link" class="button split dropdown" style="margin-bottom: 5px; margin-top: 0">
{% if poll.has_linked_polls %}
        <a href="{{ booth_url }}">{% trans "Enter voting booth" %}</a>
        <span></span>
        <ul class="election-stats-list">
          {% for pname, purl, last_cast in linked_booth_urls %}
          <li>
          <a href="{{ purl }}">{{ pname }}
            <em style="color: #aaa; font-size:0.9em">{% if not last_cast %}{% trans "No cast yet" %}{% else %}{{ last_cast|date }}{% endif %}</em>
          </a>
          </li>
          {% endfor %}
      </ul>
    {% else %}
<a 
  href="{{ booth_url }}">&nbsp;&nbsp;{% trans "Enter voting booth" %}
</a>
{% endif %}
</div>
{% endif %}

{% if not poll.feature_can_cast_vote and not poll.feature_forum_open %}
<div class="panel {{ election.status_display_cls }}">
<h5>
{% if not poll.election.feature_completed %}
{% if not poll.election.feature_closed %}
{% if not poll.election.feature_voting_started %}
  {% if poll.forum_enabled %}
    {% if not poll.feature_forum_started %}
    {% trans "Waiting for forum to start." %}
    {% endif %}
    {% if poll.feature_forum_ended %}
    {% trans "Waiting for voting to start." %}
    {% endif %}
  {% else %}
    {% trans "Waiting for voting to start." %}
  {% endif %}
{% else %}
{% trans "Voting date passed." %}
{% endif %}
{% else %}
{% trans "Voting closed. Please wait for results" %}
{% endif %}
{% else %}
{% if election.feature_canceled %}
{% trans "Election canceled" %}
{% if election.cancelation_reason %}
{{ election.cancelation_reason }}
{% endif %}
{% else %}
{% trans "Election completed." %}
{% endif %}
{% endif %}
</h5>
</div>
{% endif %}
