{% extends "election_page.html" %}
{% load i18n zeus_tags %}

{% block page_css %}election-page{% endblock %}

{% block extra_title %}
{{ block.super }}
{% endblock %}

{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}

{% block extra_menu %}
{% include "_election_poll_admin_actions.html" %}
{% endblock %}

{% block extra-head %}
    <link rel="stylesheet" href="/static/zeus/editor/simplemde.min.css?20160830">
    <script src="/static/zeus/editor/simplemde.min.js?20160830"></script>
    <script src="/static/zeus/editor/readmore.min.js?20160830"></script>
    <script>
        var IS_ADMIN = {% if user.is_admin %}true{% else %}false{% endif %};

        function confirmNotificationsDeletion(el, type) {
            var msg = "{% trans "Are you sure you want to unsubscribe from forum updates notifications?" %}";
            return confirm(msg);
        }

        function confirmNotificationsRegistration(el, type) {
            var msg;
            if (type == 'instant') {
                msg = "{% trans "You will receive notifications for each new forum post." %} {% trans "Are you sure?" %}";
            } else {
                msg = "{% trans "You will receive daily summary reports of new forum posts." %} {% trans "Are you sure?" %}";
            }
            return confirm(msg);
        }

        function confirmPostDelete(e) {
            if (IS_ADMIN) {
                let msg = prompt("{% trans "Provide a reason to delete this post." %}");
                if (msg === null) { return false; }
                if (msg) {
                    msg = msg.trim();
                    $(e).next().val(msg);
                }
            }
            return confirm("{% trans "Are you sure?" %}");
        }

        function mk_editor(selector, content) {
            var editor = new SimpleMDE({
                spellChecker: false,
                element: selector[0],
                lineWrapping: true,
                status: false,
                autofocus: {% if reply or edit %}true{% else %}false{% endif %},
                autosave: { 
                    enabled: false,
                },
                toolbar: ["bold", "italic", "heading", "|", "code", "quote", "unordered-list", "ordered-list", "|", "link", "|", "preview", "side-by-side", "fullscreen", "guide"]
            });
            return editor;
        }

        $(document).ready(function(){
            var el = $(".create-comment textarea");
            if (el.length) {
                var editor = mk_editor($(".create-comment textarea"));
                window.editor = editor;
                {% if not edit and not not form.is_valid %}editor.value('');{% endif %}
                setTimeout(function() {
                });
            }
            $(".forum-text").readmore({
                embedCSS: false,
                collapsedHeight: 100,
                moreLink: '<a href="#" class="more more-text button tiny">{% trans "Read more" %}</a>',
                lessLink: ''
            })
            $(".forum-post .body").readmore({
                embedCSS: false,
                collapsedHeight: 200,
                moreLink: '<a href="#" class="readmore more"><i class="general foundicon-down-arrow"></i> {% trans "Read more" %} <i class="general foundicon-down-arrow"></i></a>',
                lessLink: '<a href="#" class="readmore less"><i class="general foundicon-up-arrow"></i> {% trans "Read less" %} <i class="general foundicon-up-arrow"></i></a>'
            });
        });
        function quotePost(id, e) {
            let quote = $(".post-quote-" + id).text().trim();
            editor.codemirror.setValue(quote);
            editor.codemirror.setSelection({line: 0, ch: 0}, {line: 100000000, ch: 10000000});
            editor.toggleBlockquote();
            editor.codemirror.setValue('\n\n' + editor.codemirror.getValue());
            editor.codemirror.setCursor(0);
            window.setTimeout(function() {
                editor.codemirror.focus();
            }, 50);
        }
    </script>
{% endblock %}

{% block content %}

{% if election.voting_extended_until %}
<div class="columns twelve">

    {% if not post %}
        <div class="alert-box alert">
        {% blocktrans with ends_at=poll.forum_ends_at extended=poll.forum_extended_until %}
        Forum was initially scheduled until {{ ends_at }}, <br />
        but was extended until {{ extended }}
        {% endblocktrans %}
        </div>
    {% endif %}
        </div>
    {% endif %}

<div class="columns twelve forum">

    {% if not post %}
        {% if poll.forum_description %}
        <div class="forum-text">
        <p>
            {{ poll.forum_description|urlize|bleach|target_blank|safe|linebreaks }}
        </p>
        </div>
        {% endif %}


        <div class="election-dates forum-dates columns twelve">
        <div class="columns six top left">
        <i>{% trans "Forum access starts at" %}: </i> <b>{{ poll.forum_starts_at}}</b>
        </div>
        <div class="columns six top right">
        <i>{% trans "Forum access ends at" %}: </i> <b>{{ poll.forum_end_date }}</b>
        </div>

        <div class="columns six bottom left">
        <i>{% trans "Posts count" %}: </i><b>{{ poll.forum_posts.count }}</b>
        </div>
        <div class="columns six bottom left">
            <i>{% trans "Forum participants" %}: </i><b>{{ poll.forum_voters_count }} / {{ poll.voters.count }}</b>
        </div>
        </div>

        <div class="election-dates columns twelve">
        <div class="columns six top left">
          <i>{% trans "Voting starts at" %}: </i> <b>{{ election.voting_starts_at }}</b>
        </div>
        <div class="columns six top right">
          <i>{% trans "Voting ends at" %}: </i> <b>{{ election.voting_end_date }}</b>
        </div>
        </div>

    {% endif %}

    {% if poll.feature_forum_posts_visible %}
        {% include "_election_forum_posts.html" %}
    {% else %}
        <div class="forum-description warning">
            {% blocktrans %}Forum is closed.{% endblocktrans %}
        </div>
    {% endif %}
</div>
{% endblock %}
